Repository cBioPortal/oncotree, pull requests merged in 2019-05, with the labels that each got.

#184 Removed 'requests' dependency from oncotree mapper tool
  scripts/oncotree_to_oncotree.py
Labels: integration-tests, scripts, test

#186 update mapping tool to handle excel output
  docs/OncoTree-Mapping-Tool.md
  scripts/oncotree_to_oncotree.py
Labels: enhancement, scripts

#185 Update News.md
  docs/News.md
Labels: data
