Repository cBioPortal/oncotree, pull requests merged in 2019-06, with the labels that each got.

#187 update sparql queries to work with new TopBraid Oncotree namespace
  core/src/main/java/org/mskcc/oncotree/topbraid/OncoTreeRepository.java
  scripts/validate_topbraid_uris.py
Labels: bug, repository

#179 Separate OncoTree models to a package
  core/pom.xml
  model/pom.xml
  model/src/main/java/org/mskcc/oncotree/model/TumorType.java
  model/src/main/java/org/mskcc/oncotree/model/TumorTypeQueries.java
  model/src/main/java/org/mskcc/oncotree/model/TumorTypeQuery.java
  model/src/main/java/org/mskcc/oncotree/model/Version.java
  pom.xml
  web/pom.xml
Labels: enhancement

#188 Drop crosswalk mapping endpoint
  core/pom.xml
  core/src/main/java/org/mskcc/oncotree/crosswalk/MSKConceptCache.java
  core/src/main/java/org/mskcc/oncotree/error/CrosswalkConceptNotFoundException.java
  core/src/main/java/org/mskcc/oncotree/error/CrosswalkServiceUnavailableException.java
  core/src/main/java/org/mskcc/oncotree/error/InvalidOncoTreeDataException.java
  core/src/main/java/org/mskcc/oncotree/error/InvalidOncotreeMappingsParameters.java
  core/src/main/java/org/mskcc/oncotree/error/InvalidQueryException.java
  core/src/main/java/org/mskcc/oncotree/error/InvalidVersionException.java
  core/src/main/java/org/mskcc/oncotree/error/OncotreeMappingsNotFound.java
  core/src/main/java/org/mskcc/oncotree/topbraid/TopBraidException.java
  core/src/main/java/org/mskcc/oncotree/topbraid/TopBraidRepository.java
  core/src/main/java/org/mskcc/oncotree/topbraid/TopBraidSessionConfiguration.java
  core/src/main/java/org/mskcc/oncotree/utils/ApiUtil.java
  core/src/main/java/org/mskcc/oncotree/utils/CacheUtil.java
  core/src/main/java/org/mskcc/oncotree/utils/ListUtil.java
  core/src/main/java/org/mskcc/oncotree/utils/VersionUtil.java
  core/src/test/java/org/mskcc/oncotree/utils/ApiUtilTest.java
  core/src/test/java/org/mskcc/oncotree/utils/CacheUtilTest.java
  core/src/test/java/org/mskcc/oncotree/utils/OncotreeTestConfig.java
  model/pom.xml
  model/src/main/java/org/mskcc/oncotree/model/TumorType.java
  model/src/main/java/org/mskcc/oncotree/model/TumorTypeQueries.java
  model/src/main/java/org/mskcc/oncotree/model/TumorTypeQuery.java
  pom.xml
  scripts/oncotree_to_oncotree.py
  scripts/pom.xml
  scripts/test/test_oncotree_to_oncotree.py
  web/pom.xml
  web/src/main/java/org/mskcc/oncotree/OncotreeApplication.java
  web/src/main/java/org/mskcc/oncotree/api/GlobalControllerExceptionHandler.java
  web/src/main/java/org/mskcc/oncotree/api/OncotreeMappingsApi.java
  web/src/main/java/org/mskcc/oncotree/api/TumorTypesApi.java
  web/src/main/java/org/mskcc/oncotree/api/TumorTypesTxtApi.java
  web/src/main/resources/logback.xml-EXAMPLE
  web/src/main/resources/static/js/main.js
  web/src/main/resources/static/js/oncotree-mapping.js
  web/src/main/resources/static/js/tree.js
Labels: api
